<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MrPin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,530}</string>
                <key>spriteSourceSize</key>
                <string>{440,530}</string>
                <key>textureRect</key>
                <string>{{643,215},{440,530}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI/en_flag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,180}</string>
                <key>spriteSourceSize</key>
                <string>{220,180}</string>
                <key>textureRect</key>
                <string>{{1,1},{220,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI/inventory_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,960}</string>
                <key>spriteSourceSize</key>
                <string>{680,960}</string>
                <key>textureRect</key>
                <string>{{1,1283},{680,960}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>UI/ru_flag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,180}</string>
                <key>spriteSourceSize</key>
                <string>{220,180}</string>
                <key>textureRect</key>
                <string>{{225,1},{220,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI/ua_flag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,180}</string>
                <key>spriteSourceSize</key>
                <string>{220,180}</string>
                <key>textureRect</key>
                <string>{{449,1},{220,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map/map_icons/castle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,200}</string>
                <key>spriteSourceSize</key>
                <string>{210,200}</string>
                <key>textureRect</key>
                <string>{{673,1},{210,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map/map_icons/city.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,200}</string>
                <key>spriteSourceSize</key>
                <string>{210,200}</string>
                <key>textureRect</key>
                <string>{{887,1},{210,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>map/map_icons/forest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,200}</string>
                <key>spriteSourceSize</key>
                <string>{210,200}</string>
                <key>textureRect</key>
                <string>{{1,185},{210,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map/map_icons/tavern.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,200}</string>
                <key>spriteSourceSize</key>
                <string>{210,200}</string>
                <key>textureRect</key>
                <string>{{215,185},{210,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map/map_icons/wasteland.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,200}</string>
                <key>spriteSourceSize</key>
                <string>{210,200}</string>
                <key>textureRect</key>
                <string>{{429,185},{210,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monsters/monster13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,480}</string>
                <key>spriteSourceSize</key>
                <string>{550,480}</string>
                <key>textureRect</key>
                <string>{{1,793},{550,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monsters/monster2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,570}</string>
                <key>spriteSourceSize</key>
                <string>{400,570}</string>
                <key>textureRect</key>
                <string>{{1,389},{400,570}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monsters/monster9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{530,510}</string>
                <key>spriteSourceSize</key>
                <string>{530,510}</string>
                <key>textureRect</key>
                <string>{{575,749},{530,510}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>images-4.webp</string>
            <key>size</key>
            <string>{1088,1964}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e94235963982831ac9c8a61f93e7a1d:3ae9ad7597d4cde0dde7d65feb77ca6b:bc0c1e1cbc1691dcfc01b9eebb129a40$</string>
            <key>textureFileName</key>
            <string>images-4.webp</string>
        </dict>
    </dict>
</plist>
