<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>UI/btn_teammate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{96,80}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{1939,1653},{96,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>UI/button_wide.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,70}</string>
                <key>spriteSourceSize</key>
                <string>{300,70}</string>
                <key>textureRect</key>
                <string>{{1939,1349},{300,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items/weapons/staff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1939,1753},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items/weapons/sword.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{86,84}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1939,1843},{86,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>locations/forest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,1280}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{1,1},{720,1280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>locations/main_menu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,1280}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{725,1},{720,1280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>locations/tavern.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,1280}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{1,1285},{720,1280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monsters/monster10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{710,580}</string>
                <key>spriteSourceSize</key>
                <string>{710,580}</string>
                <key>textureRect</key>
                <string>{{1449,1},{710,580}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monsters/monster11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{630,580}</string>
                <key>spriteSourceSize</key>
                <string>{630,580}</string>
                <key>textureRect</key>
                <string>{{1449,715},{630,580}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monsters/monster14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{690,650}</string>
                <key>spriteSourceSize</key>
                <string>{690,650}</string>
                <key>textureRect</key>
                <string>{{1285,1349},{690,650}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>images-1.webp</string>
            <key>size</key>
            <string>{2030,2040}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ac579af39f6f2f7cb52102e6f45cafd:439916cb692ba74e078c002d7d5c7ade:bc0c1e1cbc1691dcfc01b9eebb129a40$</string>
            <key>textureFileName</key>
            <string>images-1.webp</string>
        </dict>
    </dict>
</plist>
