<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MrPin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,530}</string>
                <key>spriteSourceSize</key>
                <string>{440,530}</string>
                <key>textureRect</key>
                <string>{{1549,1269},{440,530}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI/en_flag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,180}</string>
                <key>spriteSourceSize</key>
                <string>{220,180}</string>
                <key>textureRect</key>
                <string>{{1813,1803},{220,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>UI/fight_bar_large.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,260}</string>
                <key>spriteSourceSize</key>
                <string>{720,260}</string>
                <key>textureRect</key>
                <string>{{1285,1285},{720,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>UI/selected_flag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,220}</string>
                <key>spriteSourceSize</key>
                <string>{260,220}</string>
                <key>textureRect</key>
                <string>{{1549,1803},{260,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>locations/forest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,1280}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{1,1},{720,1280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>locations/main_menu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,1280}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{725,1},{720,1280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>locations/tavern.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,1280}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{1,1285},{720,1280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monsters/monster16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{470,660}</string>
                <key>spriteSourceSize</key>
                <string>{470,660}</string>
                <key>textureRect</key>
                <string>{{1449,605},{470,660}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monsters/monster6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,600}</string>
                <key>spriteSourceSize</key>
                <string>{550,600}</string>
                <key>textureRect</key>
                <string>{{1449,1},{550,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>images-1.webp</string>
            <key>size</key>
            <string>{2000,2024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27ed3dafe51f2723dbe3532aa90d8a65:14fbbe567c03885b45ef0ed1195d2521:bc0c1e1cbc1691dcfc01b9eebb129a40$</string>
            <key>textureFileName</key>
            <string>images-1.webp</string>
        </dict>
    </dict>
</plist>
