<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MrPin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,530}</string>
                <key>spriteSourceSize</key>
                <string>{440,530}</string>
                <key>textureRect</key>
                <string>{{506,2},{440,530}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monsters/monster16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{470,660}</string>
                <key>spriteSourceSize</key>
                <string>{470,660}</string>
                <key>textureRect</key>
                <string>{{2,666},{470,660}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monsters/monster3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{510,560}</string>
                <key>spriteSourceSize</key>
                <string>{510,560}</string>
                <key>textureRect</key>
                <string>{{476,666},{510,560}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monsters/monster6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,600}</string>
                <key>spriteSourceSize</key>
                <string>{550,600}</string>
                <key>textureRect</key>
                <string>{{2,1330},{550,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monsters/monster7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,660}</string>
                <key>spriteSourceSize</key>
                <string>{500,660}</string>
                <key>textureRect</key>
                <string>{{2,2},{500,660}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>images-4.webp</string>
            <key>size</key>
            <string>{988,1882}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d7601b1eab74f4740e76e5243b0c27f:6c21ebe3539690355ffaa550a4dbd32c:bc0c1e1cbc1691dcfc01b9eebb129a40$</string>
            <key>textureFileName</key>
            <string>images-4.webp</string>
        </dict>
    </dict>
</plist>
