<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>UI/currency_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,120}</string>
                <key>spriteSourceSize</key>
                <string>{720,120}</string>
                <key>textureRect</key>
                <string>{{1285,1285},{720,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>locations/forest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,1280}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{1,1},{720,1280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>locations/main_menu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,1280}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{1,1285},{720,1280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>locations/tavern.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,1280}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{725,1},{720,1280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monsters/monster4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{660,520}</string>
                <key>spriteSourceSize</key>
                <string>{660,520}</string>
                <key>textureRect</key>
                <string>{{1449,605},{660,520}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monsters/monster5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{710,610}</string>
                <key>spriteSourceSize</key>
                <string>{710,610}</string>
                <key>textureRect</key>
                <string>{{1285,1409},{710,610}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monsters/monster6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,600}</string>
                <key>spriteSourceSize</key>
                <string>{550,600}</string>
                <key>textureRect</key>
                <string>{{1449,1},{550,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>images-1.webp</string>
            <key>size</key>
            <string>{2006,2020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b7a4b32157c68c4445b27c8b6916e18:837aca154a7706591b8cd07ac04e2a05:551a97c8091a27f303b1d3c25b09e054$</string>
            <key>textureFileName</key>
            <string>images-1.webp</string>
        </dict>
    </dict>
</plist>
