<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>UI/currency_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,120}</string>
                <key>spriteSourceSize</key>
                <string>{720,120}</string>
                <key>textureRect</key>
                <string>{{205,165},{720,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI/fight_bar_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,160}</string>
                <key>spriteSourceSize</key>
                <string>{720,160}</string>
                <key>textureRect</key>
                <string>{{205,1},{720,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map/map_icons/wasteland.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,200}</string>
                <key>spriteSourceSize</key>
                <string>{210,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{210,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>images-3.webp</string>
            <key>size</key>
            <string>{926,286}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17e3be70a7d28a14bf24bd6b8c1cd295:fc0f9d1d8d94b9eebbe99d5d5403252b:551a97c8091a27f303b1d3c25b09e054$</string>
            <key>textureFileName</key>
            <string>images-3.webp</string>
        </dict>
    </dict>
</plist>
