<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>UI/btn_map.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1787,849},{122,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI/currency_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,120}</string>
                <key>spriteSourceSize</key>
                <string>{720,120}</string>
                <key>textureRect</key>
                <string>{{1239,725},{720,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI/health_bar_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{542,42}</string>
                <key>spriteSourceSize</key>
                <string>{550,50}</string>
                <key>textureRect</key>
                <string>{{1239,1117},{542,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI/health_bar_front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{532,32}</string>
                <key>spriteSourceSize</key>
                <string>{550,50}</string>
                <key>textureRect</key>
                <string>{{1239,1163},{532,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI/icon_physical_damage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,42}</string>
                <key>spriteSourceSize</key>
                <string>{45,42}</string>
                <key>textureRect</key>
                <string>{{1913,849},{45,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI/item_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1787,975},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI/logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,264}</string>
                <key>spriteSourceSize</key>
                <string>{544,264}</string>
                <key>textureRect</key>
                <string>{{1239,849},{544,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI/options_popUp_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,1230}</string>
                <key>spriteSourceSize</key>
                <string>{680,1230}</string>
                <key>textureRect</key>
                <string>{{1,1},{680,1230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>locations/wasteland.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,1280}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{685,1},{720,1280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monsters/monster13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,480}</string>
                <key>spriteSourceSize</key>
                <string>{550,480}</string>
                <key>textureRect</key>
                <string>{{685,725},{550,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>images-2.webp</string>
            <key>size</key>
            <string>{1966,1232}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27ed3dafe51f2723dbe3532aa90d8a65:14fbbe567c03885b45ef0ed1195d2521:bc0c1e1cbc1691dcfc01b9eebb129a40$</string>
            <key>textureFileName</key>
            <string>images-2.webp</string>
        </dict>
    </dict>
</plist>
