<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>UI/currency_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,120}</string>
                <key>spriteSourceSize</key>
                <string>{720,120}</string>
                <key>textureRect</key>
                <string>{{615,1285},{720,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>UI/options_popUp_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,1230}</string>
                <key>spriteSourceSize</key>
                <string>{680,1230}</string>
                <key>textureRect</key>
                <string>{{725,1},{680,1230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI/teammate_inventory.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,180}</string>
                <key>spriteSourceSize</key>
                <string>{650,180}</string>
                <key>textureRect</key>
                <string>{{739,1759},{650,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>locations/wasteland.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,1280}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{1,1},{720,1280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monsters/monster12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{620,580}</string>
                <key>spriteSourceSize</key>
                <string>{620,580}</string>
                <key>textureRect</key>
                <string>{{1409,1},{620,580}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monsters/monster15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{690,640}</string>
                <key>spriteSourceSize</key>
                <string>{690,640}</string>
                <key>textureRect</key>
                <string>{{1403,1299},{690,640}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monsters/monster4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{660,520}</string>
                <key>spriteSourceSize</key>
                <string>{660,520}</string>
                <key>textureRect</key>
                <string>{{739,1235},{660,520}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monsters/monster5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{710,610}</string>
                <key>spriteSourceSize</key>
                <string>{710,610}</string>
                <key>textureRect</key>
                <string>{{1409,585},{710,610}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monsters/monster8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,610}</string>
                <key>spriteSourceSize</key>
                <string>{720,610}</string>
                <key>textureRect</key>
                <string>{{1,1285},{720,610}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>images-2.webp</string>
            <key>size</key>
            <string>{2044,2006}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9311aa1981692b35f572ab76f4d69d70:f69b0506b446193d07c19c05a8897191:bc0c1e1cbc1691dcfc01b9eebb129a40$</string>
            <key>textureFileName</key>
            <string>images-2.webp</string>
        </dict>
    </dict>
</plist>
