<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,90}</string>
                <key>spriteSourceSize</key>
                <string>{240,90}</string>
                <key>textureRect</key>
                <string>{{1233,1269},{240,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>en_flag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,180}</string>
                <key>spriteSourceSize</key>
                <string>{220,180}</string>
                <key>textureRect</key>
                <string>{{1283,263},{220,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,264}</string>
                <key>spriteSourceSize</key>
                <string>{544,264}</string>
                <key>textureRect</key>
                <string>{{1233,723},{544,264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>main_menu_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,1280}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{1,1},{720,1280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>options_popUp_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,1230}</string>
                <key>spriteSourceSize</key>
                <string>{680,1230}</string>
                <key>textureRect</key>
                <string>{{1,723},{680,1230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ru_flag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,180}</string>
                <key>spriteSourceSize</key>
                <string>{220,180}</string>
                <key>textureRect</key>
                <string>{{1283,485},{220,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>selected_flag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,220}</string>
                <key>spriteSourceSize</key>
                <string>{260,220}</string>
                <key>textureRect</key>
                <string>{{1283,1},{260,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>main_menu_pack.webp</string>
            <key>size</key>
            <string>{1504,1404}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8a82247a8107f785d8efcaba87edaea:3cb0d303e7ae96d1a80300c373f32957:551d4a3c6f846db7dbf13778cb20c45c$</string>
            <key>textureFileName</key>
            <string>main_menu_pack.webp</string>
        </dict>
    </dict>
</plist>
