<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,90}</string>
                <key>spriteSourceSize</key>
                <string>{240,90}</string>
                <key>textureRect</key>
                <string>{{440,0},{240,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>en_flag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,180}</string>
                <key>spriteSourceSize</key>
                <string>{220,180}</string>
                <key>textureRect</key>
                <string>{{220,0},{220,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,264}</string>
                <key>spriteSourceSize</key>
                <string>{544,264}</string>
                <key>textureRect</key>
                <string>{{940,0},{544,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_menu_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,1280}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{680,264},{720,1280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>options_popUp_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,1230}</string>
                <key>spriteSourceSize</key>
                <string>{680,1230}</string>
                <key>textureRect</key>
                <string>{{0,264},{680,1230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ru_flag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,180}</string>
                <key>spriteSourceSize</key>
                <string>{220,180}</string>
                <key>textureRect</key>
                <string>{{0,0},{220,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>selected_flag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,220}</string>
                <key>spriteSourceSize</key>
                <string>{260,220}</string>
                <key>textureRect</key>
                <string>{{680,0},{260,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>main_menu.png</string>
            <key>size</key>
            <string>{1484,1544}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:113ef92d509374a73acd0f85b632b1c1:3cb0d303e7ae96d1a80300c373f32957:07e224c1f8d46211af51719135bf043a$</string>
            <key>textureFileName</key>
            <string>main_menu.png</string>
        </dict>
    </dict>
</plist>
