<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bottom_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,120}</string>
                <key>spriteSourceSize</key>
                <string>{720,120}</string>
                <key>textureRect</key>
                <string>{{720,0},{720,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,200}</string>
                <key>spriteSourceSize</key>
                <string>{210,200}</string>
                <key>textureRect</key>
                <string>{{0,200},{210,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,200}</string>
                <key>spriteSourceSize</key>
                <string>{210,200}</string>
                <key>textureRect</key>
                <string>{{210,200},{210,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>currency_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,120}</string>
                <key>spriteSourceSize</key>
                <string>{720,120}</string>
                <key>textureRect</key>
                <string>{{0,0},{720,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>part1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,1220}</string>
                <key>spriteSourceSize</key>
                <string>{680,1220}</string>
                <key>textureRect</key>
                <string>{{1100,200},{680,1220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>part2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,1220}</string>
                <key>spriteSourceSize</key>
                <string>{680,1220}</string>
                <key>textureRect</key>
                <string>{{420,200},{680,1220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tavern_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,200}</string>
                <key>spriteSourceSize</key>
                <string>{210,200}</string>
                <key>textureRect</key>
                <string>{{1440,0},{210,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>map_scene.png</string>
            <key>size</key>
            <string>{1780,1420}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d63f99acb3871236ced0b21a48c6bad6:580d75bc65d038c5a07abd48cacb4a5e:3f9a29e8b97198fa8129c603304aa97e$</string>
            <key>textureFileName</key>
            <string>map_scene.png</string>
        </dict>
    </dict>
</plist>
